<div class="container px-5 my-5">
  <form id="contactForm" data-sb-form-api-token="API_TOKEN">
    <div class="mb-3">
      <label class="form-label" for="newField4">Inventory options</label>
      <select class="form-select" id="newField4" aria-label="New Field 4">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
    <div class="mb-3">
      <label class="form-label" for="newField5">New Field 5</label>
      <input
        class="form-control"
        id="newField5"
        type="text"
        placeholder="New Field 5"
        data-sb-validations="required"
      />
      <div class="invalid-feedback" data-sb-feedback="newField5:required">
        New Field 5 is required.
      </div>
    </div>
    <div class="d-none" id="submitSuccessMessage">
      <div class="text-center mb-3">
        <div class="fw-bolder">Form submission successful!</div>
      </div>
    </div>
    <div class="d-none" id="submitErrorMessage">
      <div class="text-center text-danger mb-3">Error sending message!</div>
    </div>
    <div class="d-grid">
      <button
        class="btn btn-primary btn-lg disabled"
        id="submitButton"
        type="submit"
      >
        Submit
      </button>
    </div>
  </form>
</div>
